
@{
    ViewBag.Title = "LeaveTypeCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>LeaveType</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap-flatly.css" rel="stylesheet" />
    <script type="text/javascript">

    </script>
    <style>
    </style>

</head>
<body>
    <div class="container-fluid">

        <div class="jumbotron">
            <h2>Leave Type</h2>
            <form action="">
                <table class="table-responsive">
                    <tr class="form-group">
                        <td>
                            <label for="text">Leave Type</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="Enter Leave Type" name="Leave" />

                        </td>
                    </tr>
                    <tr class="form-group">
                        <td>
                            <label for="text">Discription</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="first" placeholder="Enter Discription" name="discription">
                        </td>
                    </tr>
                    <tr class="form-group form-check">
                        <td>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="IsDelete">Active
                                </label>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
            <button type="submit" class="btn btn-success">SAVE</button>
        </div>
    </div>
</body>
</html>


