
@{
    ViewBag.Title = "Update Teachers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Teachers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap-flatly.css" rel="stylesheet" />
</head>
<body>
    <div class="jumbotron">
        <h2>Upate Teacher</h2>
        <form action="">
            <table class="table-responsive">
                <tr class="form-group">
                    <td>
                        <label for="text">First Name</label>
                        <input type="text" class="form-control" id="first" name="firstname">
                    </td>
                    <td>
                        <label for="text">Last Name</label>
                        <input type="text" class="form-control" id="first" name="firstname">
                    </td>
                </tr>
                <tr class="form-group">
                    <td>
                        <label for="text">Email</label>
                        <input type="email" class="form-control" name="email">
                    </td>
                    <td>
                        <label for="datetime">Joining Date</label>
                        <div>
                            <input type='datetime' class="form-control" id='datetimepicker' />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr class="form-group">
                    <td>
                        <label for="text">Password</label>
                        <input type="password" class="form-control" name="password">
                    </td>
                    <td>
                        <label for="text">Comfirm Password</label>
                        <input type="password" class="form-control" name="password">
                    </td>
                </tr>
                <tr class="form-group">
                    <td>
                        <label for="text">Designation</label>
                        <input type="text" class="form-control" name="Designation">
                    </td>
                    <td>
                        <label for="text">Department</label>
                        <input type="text" class="form-control" placeholder="Enter Department" name="Designation" />
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="float:none"></button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Link 1</a>
                            <a class="dropdown-item" href="#">Link 2</a>
                            <a class="dropdown-item" href="#">Link 3</a>
                        </div>
                    </td>
                </tr>
                <tr class="form-group">
                    <td>
                        <label for="input">Gender</label>
                        <div class="radio">
                            <label><input type="radio" id="" name="option1">Male</label>
                            <label><input type="radio" id="" name="option1">Female</label>
                        </div>
                    </td>
                    <td>
                        <label for="datetime">Date Of Birth</label>
                        <div>
                            <input type='datetime' class="form-control" id='datetimepicker' />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr class="form-group">
                    <td>
                        <label for="add">Mobile No</label>
                        <input type="number" class="form-control">
                    </td>
                    <td>
                        <label for="add">Address</label>
                        <textarea class="form-control" id="address" placeholder="Enter Address" name="addr"></textarea>
                    </td>
                </tr>
                <tr class="form-group">
                    <td>
                        <label for="add">Profile Picture</label>
                        <input type="file" name="img[]" class="file">
                    </td>
                    <td>
                        <label for="add">Education</label>
                        <textarea class="form-control" id="address" name="addr"></textarea>
                    </td>
                </tr>
                <tr class="form-group form-check">
                    <td>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="IsDelete">Active
                            </label>
                        </div>
                    </td>
                </tr>
                <tr class="form-group form-check">
                    <td>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="IsDelete">Delete
                            </label>
                        </div>
                    </td>
                </tr>
                <tr class="form-group form-check">
                    <td>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="IsDelete"> Remember me
                            </label>
                        </div>
                    </td>
                </tr>
            </table>
            <button type="button" class="btn btn-success">SAVE</button>
            <button type="button" class="btn btn-secondary">CANCEL</button>
        </form>

    </div>
</body>
</html>
