
@{
    ViewBag.Title = "CourseCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Course</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap-flatly.css" rel="stylesheet" />
    <script type="text/javascript">
      

    </script>
    <style>
    </style>

</head>
<body>
    <div class="container-fluid">

        <div class="jumbotron">
            <h2>New Course</h2>
            <form action="">
                <table class="table-responsive">
                    <tr class="form-group">
                        <td>
                            <label for="text">Course Type</label>
                        </td>
                        <td>
                            <select>
                                <option class="dropdown-item" href="#">Type 1</option>
                                <option class="dropdown-item" href="#">Type 2</option>
                                <option class="dropdown-item" href="#">Type 3</option>
                            </select>
                        </td>
                    </tr>
                    <tr class="form-group">
                        <td>
                            <label for="text">Course Name</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="first" placeholder="Enter Course Name" name="coursename">
                        </td>
                    </tr>
                    <tr class="form-group">
                        <td>
                            <label for="text">Fees</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" name="fees">
                        </td>
                    </tr>
                    <tr class="form-group">
                        <td>
                            <label for="text">Duration</label>
                        </td>
                        <td>
                            <input type="number" class="form-control" name="duation">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body>
</html>

